/* Color Mixer */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
}

main {
  background-color: dodgerblue;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  align-items: baseline;
  background-color: rgb(27, 27, 27);
  padding: 1rem 3rem;
  margin: 0 auto;
}

p {
  margin-left: auto;
  font-size: 1.5rem;
  color: white;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 12rem;
  padding: 0 1rem;
}

input[type="range"]::-moz-range-track {
  height: 0.5rem;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
}
.red::-moz-range-track {
  background: red;
}
.blue::-moz-range-track {
  background: blue;
}
.green::-moz-range-track {
  background: green;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.5rem;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
}
.red::-webkit-slider-runnable-track {
  background: red;
}
.blue::-webkit-slider-runnable-track {
  background: blue;
}
.green::-webkit-slider-runnable-track {
  background: green;
}
