/* Clock */

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: dodgerblue;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  width: 100vw;
  height: 100%;
}

main {
  width: 100vw;
  height: 60vh;
}

p {
  text-align: center;
  font-size: 1.8rem;
  color: white;
}

.clockbg {
  margin: 3rem auto;
  position: relative;
  background-color: white;
  border-radius: 50%;
  width: 21rem;
  height: 21rem;
}

.timvisare,
.minutvisare,
.sekundvisare {
  position: absolute;
}

.timvisare {
  height: 7rem;
  width: 0.5rem;
  background-color: green;
  transform-origin: 50% 100%;
  top: 3.5rem;
  left: 49%;
}
.minutvisare {
  height: 10rem;
  width: 0.5rem;
  background-color: slateblue;
  transform-origin: 50% 100%;
  top: 0.5rem;
  left: 49%;
}
.sekundvisare {
  height: 10rem;
  background-color: red;
  position: absolute;
  width: 0.2rem;
  transform-origin: 50% 100%;
  top: 0.5rem;
  left: 50%;
}
.clockcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: hotpink;
}
